@CHARSET "ISO-8859-1";



#part{
	
	position: fixed;
	bottom: 40%;
	left: 42%;
	
}

#popup{
	left :50%;
	padding: 7px 50px;
}

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}

div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}